<footer class="mt-5">
  <div class="container-fluid px-0">
    <div class="d-flex flex-column flex-md-row py-5 px-5 justify-content-between bg-dark text-white">
      <div class="flex-col">
        <a href="/home" class="text-white text-decoration-none d-block mb-2">Home</a>
        <a href="/aboutus" class="text-white text-decoration-none d-block mb-2">About Us</a>
        <a href="/products" class="text-white text-decoration-none d-block mb-2">Products</a>
        <a href="/services" class="text-white text-decoration-none d-block mb-2">Services</a>
        <a href="/blogs" class="text-white text-decoration-none d-block mb-2">Blogs</a>
      </div>

      <div class="flex-col text-md-center">
        <p class="fw-bold">Contact Us</p>
        <p>Phone: (+61) 452 286 598</p>
        <p>Email: info@lilleetaste.au</p>
        <p>Add: 221 Burwood Highway Burwood Victoria 3125 Australia</p>
      </div>

      <div class="flex-col">
        <p class="fw-bold">Opening</p>
        <p>Mon - Friday: 9AM - 5PM</p>
        <p>Saturday: 9AM - 2PM</p>
        <p>Sunday: 9AM - 1PM</p>
      </div>
    </div>
    <p class="text-end bg-dark-subtle text-dark mb-0 pe-5">&copy;<em>2011-2025 Lillee Taste, All Rights Reserved.</em>
    </p>
  </div>
</footer>
